<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smb.mapper.SysRoleRelMapper">
  <resultMap id="BaseResultMap" type="com.smb.entity.SysRoleRel">
    <result column="roleId" jdbcType="INTEGER" property="roleid" />
    <result column="objId" jdbcType="INTEGER" property="objid" />
    <result column="relType" jdbcType="INTEGER" property="reltype" />
  </resultMap>

  <insert id="insert" parameterType="com.smb.entity.SysRoleRel">
    insert into sys_role_rel (roleId, objId, relType
      )
    values (#{roleid,jdbcType=INTEGER}, #{objid,jdbcType=INTEGER}, #{reltype,jdbcType=INTEGER}
      )
  </insert>

  <sql id="Base_Column_List">
     roleId,objId,relType
  </sql>

  <!-- ·················································· -->

  <select id="queryByRoleId" resultMap="BaseResultMap"  parameterType="Object">
    select
    <include refid="Base_Column_List"/>
    from sys_role_rel where roleId = #{roleId}
    <if test="relType != null" >
      and relType =  #{relType}
    </if>
  </select>

  <select id="queryByObjId" resultMap="BaseResultMap" parameterType="Object">
    select
    <include refid="Base_Column_List"/>
    from sys_role_rel where objId = #{objId}
    <if test="relType != null" >
      and relType =  #{relType}
    </if>
  </select>

  <!-- 根据关联对象id，关联类型删除 -->
  <delete id="deleteByObjId" parameterType="Object">
    delete  from sys_role_rel where objId = #{objId}
    <if test="relType != null" >
      and relType =  #{relType}
    </if>
  </delete>

  <!-- 根据角色id，关联类型删除 -->
  <delete id="deleteByRoleId" parameterType="Object">
    delete  from sys_role_rel where roleId = #{roleId}
    <if test="relType != null" >
      and relType =  #{relType}
    </if>
  </delete>


</mapper>